// Specific CSS for your home-page
ul {
  list-style-type: circle;
  display: block;
}

li::before {
    color: $red;
  }

.row {
  display: flex;
  justify-content: space-between;
}

.about_me {
  margin: 130px 0;

  .description {
    margin: 60px 50% 0 0;
  }
}

.project_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.projects {
  background-color: $dark-gray;

  .project_content {
    color: white;
    padding: 150px 0;
  }

}
