<div class="navbar">
  <div class="logo">
    <%= link_to "Félix Timmel", root_path %>
  </div>

  <div class="navbar_links">
    <%= link_to "Portfolio", root_path(anchor: 'projects') %>
    <%= link_to "Compétences", root_path(anchor: 'skills') %>
    <%= link_to "Contact", root_path(anchor: 'contact') %>
    <span>🇫🇷 | 🇬🇧</span>
  </div>
</div>
