
<div class="about_me">
  <h1>Full Stack Developer</h1>

  <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae labore, quis eveniet vitae rem ad odio officia voluptatum provident, odit dolores dolorum cumque non, magni maxime quod. Nostrum, incidunt, illo.</p>
  </div>
</div>

<div class="projects">
  <div class="project_grid">

  </div>
</div>

