
<div class="about_me">
  <h1>Full Stack Developer</h1>

  <div class="description">
    <p>Salut, moi c'est Félix. J'ai effectué un bootcamp de developement web à Montréal</p>
  </div>
</div>

<div class="projects">
  <div class="project_grid">

  </div>
</div>

