<div class="main_container">
  <div class="about_me">
    <span class="heading underline">Full Stack Developer</span>

    <div class="description">
      <p>
        Salut, moi c'est Félix. <br>
        A étudié les principes de l'informatique, la conception et le prototypage d'applications Web, la dynamique d'équipe et le développement de la pile complète en mettant l'accent sur Ruby on Rails
      </p>

      <p class="heading">My skills</p>
      <ul class="list">
        <div class="row">
          <li>kfkl</li>
          <li>kfkl</li>
        </div>
        <div class="row">
          <li>kfkl</li>
          <li>kfkl</li>
        </div>
      </ul>
    </div>

  </div>
</div>

<div class="projects">
  <div class="project_grid">

  </div>
</div>

