.list {

  margin: 0 auto;
  margin-top: 60px;
  max-width: 650px;

  .project_row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 10px auto;
    text-align: left;

    .item {
      display: flex;
      align-items: center;
      list-style: none;
      width: 50%;
      font-size: 16px;
    }

    li i {
      color: $red;
      font-size: 10px;
      margin-right: 8px;
    }
  }
}

@media(max-width: 790px) {
/* start of medium tablet styles */
  .list .project_row {
    display: block;

    .item {
      width: 100%;
    }
  }
}
